.container {
    width: 50%;
    margin: auto;
    text-align: center;
}
/* Định dạng phần form đăng nhập*/
.fomrgroup {
    width: 70%;
    margin: auto;
    display: block;
    height: 50px;
}

    .fomrgroup input button {
        width:100%;
        font-size:25px;
        color:white;
        background-color:darkblue;
        
    }

    .fomrgroup b {
        font-size: 20px;
    }
/* The Modal (background) */
.button_1 {
        width:100%;
        font-size:25px;
        color:white;
        background-color:darkblue;
        
    }
.button_2 {
    width: 100%;
    font-size: 25px;
    color: black;
    background-color:azure;
}
.textTitle{
    font-weight:bold;
    font-size:40px;
    text-align:center
}
.textAddSuccess {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:chartreuse;
}
.modal {
    display: none; /* mặc định được ẩn đi */
    position: fixed; /* vị trí cố định */
    z-index: 1; /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
