.container {
    width: 80%;
    margin: 50px auto;
}


.contact-box{
    display:flex;
}

.contact-left {
    flex-basis: 40%;
    padding: 40px;
    background:#1c00b5;
}

.contact-right {
    flex-basis: 60%;
    padding: 40px 60px;
}



 input-row{
     display:flex;
     justify-content:space-between;
     margin-bottom:20px;
 }

.input-row .input-group{
    flex-basis:45%;
}

input{
    width:100%;
    border:none;
    border-bottom:1px solid #ccc;
    outline:none;
    padding-bottom:5px;
}

textarea{
    width:100%;
    border:1px solid #ccc;
    outline:none;
    padding:10px;
    box-sizing:border-box;
}

button{
    background:#1c00b5;
    width:100px;
    border:none;
    outline:none;
    color:#ccc;
    height:35px;
    border-radius:10px;
    margin-top:20px;
    box-shadow: 0px 5px 15px 0px #ccc;
}

.contact-right h3{
    color:#808080;
    font-weight:600;
    margin-bottom:30px;
}

.contact-left h3{

}