:root {
  --mediumblack: #1a1a1a;
  --golden: #ba933e;
}

/* Image Intro */
.collection__background {
  position: relative;
  z-index: -1;
}
.collection__background > img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}
.collection__background__direction {
  position: absolute;
  top: 50%;
  left: 15vw;
  transform: translate(-50%, -50%);
}
.collection__background__direction > h1 {
  font-size: 48px;
}
.collection__background__direction > span {
  opacity: 0.8;
}
@media only screen and (max-width: 1000px) {
  .collection__background__direction h1 {
    font-size: 36px;
    padding-bottom: 0;
  }
  .collection__list__item {
    text-align: center;
    flex: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .collection__background img {
    width: 100%;
    height: auto;
  }
  .collection__list__item {
    text-align: center;
    flex: 100%;
  }
  .collection__background__direction h1 {
    font-size: 24px;
  }
}

/* List */
.collection__list__item > img {
  width: auto;
  height: 60vh;
}
.collection__list {
  margin-top: 3%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.collection__list__item {
  text-align: center;
  flex: 30%;
  margin-bottom: 3rem;
}
.collection__list__item > button {
  font-size: medium;
  font-weight: 600;
  color: white;
  background-color: var(--mediumblack);
  border: none;
  padding: 2vh 2vw;
  transition-duration: 0.4s;
}
.collection__list__item > button:hover {
  background-color: var(--golden);
}
