:root {
  --mediumblack: #1a1a1a;
  --golden: #ba933e;
}
.slider {
  margin: auto;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.carousel-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid var(--golden);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(--golden);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.carousel-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.carousel-auto div {
  border: 2px solid var(--golden);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.carousel-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: var(--golden);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: var(--golden);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: var(--golden);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: var(--golden);
}
