<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create an account</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style/style_login.css" />
    <script type="text/javascript" src="./functions/index.js"></script>
</head>
<body>
    <div class="container">
        <div id="headerHolder" class="row header"></div>
        <div class="container-th"></div>
        <div class="container-nd">
            <div class="login-form">
                <form action="" method="post">
                    <h1>Create An Account</h1>
                    <div>
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="input-box">
                                        <input type="text" name="customer[first_name]" id="FirstName" class="form-control" placeholder="First Name" required>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-box">
                                        <input type="text" name="customer[last_name]" id="LastName" class="form-control" placeholder="Last Name">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="input-box">
                        <i></i>
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <i></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="btn-box">
                        <button type="submit">
                            Create An Account
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="footerHolder" class="row footer"></div>
    </div>
</body>
</html>