<div class="top-comp">
  <div align="center" class="logo">
    <img id="hamburger" src="../../images/menu.svg" alt="hambuger icon" />
    <a href="/">
      <img src="../../images/logo.png" alt="logo" />
    </a>
  </div>
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#"
        >Shop
        <img src="../../images/downarrow.svg" alt="down arr" />
      </a>
      <div class="dropdown shop-dd">
        <div>
          <h3><a href="#"> Catalog</a></h3>
          <div>
            <a href="#">Womens</a><br />
            <a href="#">Mens</a><br />
            <a href="#">Shoes</a><br />
            <a href="#">Packpacks</a><br />
            <a href="#">Accesories</a>
          </div>
        </div>
        <div>
          <h3><a href="#">New products</a></h3>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
            "
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/products/19_1copy_360x.jpg?v=1589788212"
              alt="img"
            />
            <p>
              Petit Piqué Backpack <br />
              $79.00
            </p>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
            "
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/products/16_1copy_360x.jpg?v=1589788139"
              alt="img"
            />
            <p>
              Black Silicone Strap <br />
              $59.00
            </p>
          </div>
        </div>
        <div class="promotion">
          <img
            src="https://cdn.shopify.com/s/files/1/0276/4616/5110/files/banner-menu_540x.jpg?v=1589797831"
            alt="promotion"
          />
        </div>
      </div>
    </li>
    <li>
      <a href="#"
        >Collection
        <img src="../../images/downarrow.svg" alt="down arr" />
      </a>
      <div align="center" class="dropdown collection-dd">
        <div>
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/collections/women_180x.jpg?v=1589429115"
              alt="img 0"
            />
            <h4>Womens</h4>
          </a>
        </div>
        <div>
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/collections/men_180x.jpg?v=1589429045"
              alt="img 1"
            />
            <h4>Mens</h4>
          </a>
        </div>
        <div>
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/collections/shoes_180x.jpg?v=1589429091"
              alt="img 2"
            />
            <h4>Shoes</h4>
          </a>
        </div>

        <div>
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/collections/bag_180x.jpg?v=1589429021"
              alt="img 3"
            />
            <h4>Backpacks</h4>
          </a>
        </div>
        <div>
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/collections/accessories_180x.jpg?v=1589428985"
              alt="img 4"
            />
            <h4>Accessories</h4>
          </a>
        </div>
      </div>
    </li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <div class="signin">
    <img src="../../images/user.png" alt="user icon" />
    <a href="./login.html">Login</a><span>/</span>
    <a href="./register.html">Sign up</a>
    <span>|</span>
    <img src="../../images/search.svg" alt="search icon" />
    <a href="./views/cart.html">
      <img src="../../images/cart.svg" alt="cart icon" />
    </a>
  </div>
</div>
