<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <link rel="stylesheet" href="./styles/blog.css" />
    <link rel="stylesheet" href="./styles/footer.css" />
    <script
      src="https://kit.fontawesome.com/78acd19669.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      media="mediatype and|not|only (expressions)"
      href="print.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="./functions/index.js"></script>
    <script src="./functions/navigationbar.js"></script>
    <script src="./functions/productDisplay.js"></script>
    <!-- <script src="../../functions/footer.js"></script> -->
    <title>Collections</title>
  </head>
  <body ng-app="myApp" ng-controller="BlogController">
    <div>
      <nav-bar></nav-bar>
    </div>
    <div class="blog">
      <div class="blog__background">
        <div class="blog__background__direction">
          <h1>Blogs</h1>
          <span><b>Home ></b></span>
          <span> Life styles</span>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0276/4616/5110/files/accessories.jpg?v=1589429290"
        />
      </div>
      <div class="blog__body">
        <div class="blog__body__list">
          <div class="blog__body__list__item" ng-repeat="dt in blogs">
            <img
              src="https://cdn.shopify.com/s/files/1/0276/4616/5110/articles/3_88f1294b-6888-4672-bfae-674b5c6f27fc_540x.jpg?v=1589385253"
            />
            <p><label>LIFE STYLE</label></p>
            <h4>
              <b>{{dt.author}}</b>
              <span style="font-weight: normal; margin-left: 1em"
                >{{dt.date}}</span
              >
            </h4>
            <h2>{{dt.title}}</h2>
            <p>{{dt.detail}}</p>
            <button
              id="btnClick"
              onclick="window.location='./blogdetail.html';"
            >
              Read More >
            </button>
          </div>
        </div>
        <div class="blog__body__sidebar">
          <div class="blog__body__sidebar__search">
            <img src="./images/search.svg" class="icon" />
            <input
              type="text"
              class="input-field"
              type="text"
              placeholder="Search Our Blogs"
            />
          </div>
          <hr
            style="
              width: 90%;
              right: 2rem;
              position: relative;
              margin-top: 3rem;
            "
          />
          <div class="blog__body__sidebar__right">
            <div class="blog__body__sidebar__article">
              <h2 style="line-height: 3">Recent Articles</h2>
              <div
                class="blog__body__sidebar__article__detail"
                ng-repeat="blog in blogs"
              >
                <h3 style="line-height: 1.25">{{blog.title}}</h3>
                <h4 style="font-weight: normal; line-height: 0.25">
                  {{blog.date}}
                </h4>
              </div>
            </div>
            <hr
              style="
                width: 90%;
                right: 2rem;
                position: relative;
                margin-top: 3rem;
              "
            />
            <div class="blog__body__sidebar__categories">
              <h2 style="line-height: 3">Categories</h2>
              <ul style="list-style-type: disc; padding-left: 1.5em">
                <li>
                  <h4
                    style="
                      font-weight: normal;
                      line-height: 0.25;
                      margin-left: 0;
                    "
                  >
                    Music
                  </h4>
                </li>
                <li>
                  <h4 style="font-weight: normal; line-height: 0.25">
                    Education
                  </h4>
                </li>
                <li>
                  <h4 style="font-weight: normal; line-height: 0.25">
                    Construction
                  </h4>
                </li>
                <li>
                  <h4 style="font-weight: normal; line-height: 0.25">Travel</h4>
                </li>
                <li>
                  <h4 style="font-weight: normal; line-height: 0.25">App</h4>
                </li>
                <li>
                  <h4 style="font-weight: normal; line-height: 0.25">Tech</h4>
                </li>
                <li>
                  <h4 style="font-weight: normal; line-height: 0.25">Social</h4>
                </li>
              </ul>
            </div>
            <hr
              style="
                width: 90%;
                right: 2rem;
                position: relative;
                margin-top: 3rem;
              "
            />
            <div class="blog__body__sidebar__tags">
              <h2 style="line-height: 3">Articles Tags</h2>
              <div class="blog__body__sidebar__tags__label">
                <label>App</label>
                <label>Conference</label>
                <label>Developers</label>
                <label>Enterprise</label>
                <label>StartUp</label>
              </div>
            </div>
            <div
              class="blog__body__sidebar__ads"
              onmouseover="borderAnimation();"
              onmouseout="stopAnimation();"
            >
              <a href="#">
                <svg><rect id="rect__border"></rect></svg>
                <img
                  id="advertise"
                  src="https://cdn.shopify.com/s/files/1/0276/4616/5110/files/banner2_360x.jpg?v=1589383918"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 5%">
      <footer-web></footer-web>
    </div>
  </body>
</html>
