<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./styles/cart.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./functions/index.js"></script>
    <script src="./functions/navigationbar.js"></script>
    <script>
      const myApp = angular.module("AngularApp", []);
      myApp.controller("CartController", function ($scope) {
        $scope.txtQuantity = 1;
        $scope.cartProducts = dataRequest();
        $scope.total = 15000;
        $scope.removeProduct = function (index) {
          $scope.cartProducts.splice(index, 1);
        };
        $scope.addClick = function (index) {
          const txtQuan = document.getElementById(`txtQuantity${index}`);
          const txtTotal = document.getElementById(`txtTotal${index}`);
          txtQuan.innerHTML = eval(txtQuan.innerText) + 1;
          txtTotal.innerHTML =
            "$" +
            Math.round(
              eval(txtQuan.innerText) *
                eval($scope.cartProducts[index].price.substring(1)) *
                100
            ) /
              100;
        };
        $scope.subClick = function (index) {
          const txtQuan = document.getElementById(`txtQuantity${index}`);
          const txtTotal = document.getElementById(`txtTotal${index}`);
          if (eval(txtQuan.innerText) >= 1) {
            txtQuan.innerHTML = eval(txtQuan.innerText) - 1;
            txtTotal.innerHTML =
              "$" +
              Math.round(
                eval(txtQuan.innerText) *
                  eval($scope.cartProducts[index].price.substring(1)) *
                  100
              ) /
                100;
          } else {
            if (toast.classList.length == 1) {
              toast.classList.toggle("toast-active");
              setTimeout(() => toast.classList.remove("toast-active"), 3000);
            }
          }
        };

        $scope.totalBill = function () {
          const txtTotalBill = document.getElementById("txtTotalBill");
          for (var i = 0; i < $scope.cartProducts.length; i++) {
            var txtTotal = document.getElementById(`txtTotal${i}`);
            console.log(txtTotal);
            $scope.total += eval(txtTotal.innerHTML.trim());
          }
          txtTotalBill.innerHTML = $scope.total;
          console.log(txtTotalBill);
        };
      });
    </script>
  </head>
  <body ng-app="AngularApp" ng-controller="CartController">
    <div id="headerHolder" class="row header"></div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
      "
    >
      <h2>Shopping Cart</h2>
      <button
        style="
          border: none;
          background-color: #3b87ee;
          border-radius: 5px;
          font-weight: bold;
          color: white;
          height: auto;
          padding: 1%;
        "
        onclick="reloadPage()"
      >
        Update cart
      </button>
    </div>
    <p style="margin-left: 5%; font-size: 1.1em">
      Bạn có <b>{{cartProducts.length}}</b> sản phẩm trong giỏ hàng
    </p>
    <div class="cart">
      <div class="title">
        <h4>IMAGE</h4>
        <h4>PRODUCT</h4>
        <h4 style="justify-self: flex-end; padding: 5%">TOTAL</h4>
      </div>
      <div ng-repeat="sp in cartProducts" class="addedList">
        <img
          ng-src="https://m.media-amazon.com/images/I/{{sp.imageMap.MAIN}}.jpg"
          alt="product"
        />
        <div>
          <h3>{{sp.productName}}</h3>
          <p>
            {{sp.productName}}<br />
            {{sp.brandName}}
          </p>
          <p>{{sp.price}}</p>
          <div style="display: flex; flex-direction: row; align-items: center">
            <div class="addQuantity">
              <button ng-click="subClick($index)" id="btnSub{{$index}}">
                -
              </button>
              <b style="font-size: large" id="txtQuantity{{$index}}"
                >{{txtQuantity}}</b
              >
              <button ng-click="addClick($index)" id="btnAdd{{$index}}">
                +
              </button>
            </div>
            <div class="deleteProduct">
              <button
                ng-click="removeProduct($index)"
                style="color: #ba933e; border-color: #ba933e"
              >
                REMOVE
              </button>
            </div>
          </div>
        </div>
        <div style="justify-self: flex-end; padding-right: 10%">
          <h3 id="txtTotal{{$index}}">{{sp.price}}</h3>
        </div>
        <hr />
      </div>
    </div>
    <div
      align="right"
      class="totalBill"
      style="
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        width: 40%;
      "
    >
      <p>
        <b style="font-size: 1.2em; margin-right: 1.5%">Subtotal:</b>
        <b id="txtTotalBill" style="font-size: 1.5em; color: #3b87ee"
          >${{total}}</b
        >
      </p>
      <p>Shipping, taxes, and discounts will be calculated at checkout.</p>
      <input
        id="btnUpdateCart"
        style="background-color: #fff"
        type="button"
        value="Update Cart"
      />
      <input
        id="btnCheckOut"
        style="background-color: #3b87ee; color: #fff"
        type="button"
        value="Check Out"
      />
    </div>
    <script>
      const headerHolder = document.getElementById("headerHolder");
      const headerURL = "./navigationbar.html";
      showTemplate(headerHolder, headerURL);
      const btnCheckOut = document.getElementById("btnCheckOut");
      btnCheckOut.onclick = function () {
        window.location.href = "./information.html";
      };
      function reloadPage() {
        location.reload();
      }
    </script>
  </body>
</html>
