<!DOCTYPE html>

  <head> 
    <link rel = "stylesheet" type="text/css" href="/views/cardProduct/productCard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-app="productApp" ng-controller="productController">
    <div class="row">
      <img alt="velademorubix-fashion" src="//cdn.shopify.com/s/files/1/0276/4616/5110/files/accessories.jpg?v=1589429290">
      <div class="left-center">
        <h1>Product</h1>
        <h6>
          <a href="">Home</a>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span>Product</span>
        </h6>
      </div>
    </div>
    <div class="container">
      <div class="container-rd">
        <h4> Product Categories</h4>
              <input type="checkbox" name="dropdown" id="dropdownbtn">
              <label for="dropdownbtn">All Categories</label>
              <ul class="dropdownmenu">
                  <li><label>
                    <input type="radio" name="cate" id="cate-r1">Womens
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r2">Mens
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r3">Shoes
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r4">Backpacks
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r5">Accessories
                  </label></li>
              </ul>
              <hr/>
              <div>
                <h4>Color</h4>
              
                <input type="radio" name="color" id="color-r1">
                <input type="radio" name="color" id="color-r2">
                <input type="radio" name="color" id="color-r3">
                <input type="radio" name="color" id="color-r4">
                
                <div class="labels">
                  <label for="color-r1" class="dot" id="d1"></label>
                  <label for="color-r2" class="dot" id="d2"></label>
                  <label for="color-r3" class="dot" id="d3"></label>
                  <label for="color-r4" class="dot" id="d4"></label>
                </div>
                <div>
                  <h4> Price</h4>
                  <label class="price-label">
                    <input type="radio" name="price" id="">$150 - $200
                  </label>
                  <label class="price-label">
                    <input type="radio" name="price" id="">$200 - $250
                  </label>
                  <label class="price-label">
                    <input type="radio" name="price" id="">$50 - $100
                  </label>
              </div>
              </div>
          </div>
          <div class="container-nd">
            <div class="clothes" ng-repeat="productitem in productsdetails">
                  <div>
                      <div class="product-item-img">
                          <img src={{productitem.img}} alt="">
                      </div>
                      <div class="product-item-detail">
                          <h2>{{productitem.name}}</h2>
                          <h3>{{productitem.price}}</h3>
                      </div>
                  </div>
          </div>
          </div>
  </body>
</html>