<!DOCTYPE html>

  <head> <link rel = "stylesheet" type="text/css" href="/views/cardProduct/productCard.css"> </head>
  <body>
    <div class="parent">
      <div class="child1">
        <!-- thu -->
          <div>
            <h4> Product Categories</h4>
            
              <input type="checkbox" name="dropdown" id="dropdownbtn">
              <label for="dropdownbtn">All Categories</label>
              
              <ul class="dropdownmenu">
                  <li><label>
                    <input type="radio" name="cate" id="cate-r1">Womens
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r2">Mens
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r3">Shoes
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r4">Backpacks
                  </label></li>
                  <li><label>
                    <input type="radio" name="cate" id="cate-r5">Accessories
                  </label></li>
              </ul>
          </div>
          <hr>
          <div>
            <h4>Color</h4>
          
            <input type="radio" name="color" id="color-r1">
            <input type="radio" name="color" id="color-r2">
            <input type="radio" name="color" id="color-r3">
            <input type="radio" name="color" id="color-r4">
            
            <div class="labels">
              <label for="color-r1" class="dot" id="d1"></label>
              <label for="color-r2" class="dot" id="d2"></label>
              <label for="color-r3" class="dot" id="d3"></label>
              <label for="color-r4" class="dot" id="d4"></label>
            </div>
          </div>
          <div>
              <h4> Price</h4>
              <label class="price-label">
                <input type="radio" name="price" id="">$150 - $200
              </label>
              <label class="price-label">
                <input type="radio" name="price" id="">$200 - $250
              </label>
              <label class="price-label">
                <input type="radio" name="price" id="">$50 - $100
              </label>

          </div>
          <div>
            <h4> Best seller</h4>
            <ul>
            <li> 
              
            </li>
            <li> $150 - $200</li>
            <li> $200 - $250</li>
            <li> $50 - $100</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>