<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./views/cart/cart.css" />
  </head>
  <body>
    <h2>Product Cart</h2>
    <div class="cart">
      <div class="title">
        <h4>IMAGE</h4>
        <h4>PRODUCT</h4>
        <h4>TOTAL</h4>
      </div>
      <div class="addedList">
        <img
          src="https://cdn.shopify.com/s/files/1/0276/4616/5110/products/1_1_9bc66c79-c94c-4d2b-a8e0-d429c3aa6b74_370x.jpg?v=1589787609"
          alt="product"
        />
        <div>
          <h4>Black Tracksuit Jacket</h4>
          <p>
            Black <br />
            Demo Vendor
          </p>
          <p>$210.00</p>
          <div style="display: flex; flex-direction: row">
            <div class="addQuantity">
              <button id="substract">-</button>
              <b>1</b>
              <button id="add">+</button>
            </div>
            <div>
              <button>UPDATE CART</button>
              <button>REMOVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
