.color-picker {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.color-picker:hover {
  transform: scale(1.2);
}

.productCard {
  height: 100%;
}

.container {
  row-gap: 1%;
  column-gap: 0;
}
