.cart {
  background-color: #fff;
  margin-left: 5%;
  margin-right: 5%;
}

.title,
.addedList {
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
}

.title {
  background-color: #f7f7f7;
  padding: 6px 6px;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 1%;
}

.addQuantity {
  font-weight: bold;
  background-color: #f7f7f7;
}

.addQuantity button {
  border: none;
  background-color: #f7f7f7;
  font-size: 1.8em;
  padding: 1vw 1vw;
  border-radius: 5px;
}

.addQuantity button:hover {
  color: #ba933e;
}

.cart img {
  width: 80%;
  height: auto;
}

.cart h4 {
  margin: 0;
}

.totalBill {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1% 1%;
}

.totalBill input {
  padding: 12px 24px;
  border: 1px solid gray;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.05em;
}

hr {
  background-color: gray;
  grid-column: span 3;
  height: 0.1px;
  width: 100%;
  opacity: 0.2;
}

.toast {
  display: none;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-active {
  display: inline;
}

.deleteProduct button {
  font-size: 0.6em;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #1a1a1a;
  padding: 8px 8px;
  border-radius: 3px;
}

.deleteProduct button:hover {
  border: none;
}
